body,
html {
  width: 100%;
  height: 100%;
}

body,
p {
  color: #555;
  font: 400 1rem/1.625rem "Montserrat", sans-serif;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.p-large {
  font: 400 1.125rem/1.75rem "Montserrat", sans-serif;
}

.p-small {
  font: 400 0.875rem/1.5rem "Montserrat", sans-serif;
}

.p-heading {
  margin-bottom: 3.75rem;
}

h1 {
  color: #333;
  font: 700 2.75rem/3.375rem "Montserrat", sans-serif;
}

h2 {
  color: #333;
  font: 700 2.25rem/2.875rem "Montserrat", sans-serif;
}

h3 {
  color: #333;
  font: 700 1.625rem/2.125rem "Montserrat", sans-serif;
}

h4 {
  color: #333;
  font: 700 1.25rem/1.875rem "Montserrat", sans-serif;
}

h5 {
  color: #333;
  font: 700 1.125rem/1.75rem "Montserrat", sans-serif;
}

h6 {
  color: #333;
  font: 700 1rem/1.625rem "Montserrat", sans-serif;
}

.testionialText {
  font-style: italic;
}

.testimonialMainPersonName {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.625rem;
}

.spacesMain li {
  margin-bottom: 0.375rem;
}

.indent {
  padding-left: 1.25rem;
}

a {
  color: #555;
  text-decoration: underline;
}

a:hover {
  color: #555;
  text-decoration: underline;
}

.white {
  color: #eee;
}

.basicButton {
  display: inline-block;
  padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
  border: 0.125rem solid #ffbd50;
  border-radius: 2rem;
  background-color: #ffbd50;
  color: #333;
  font: 600 0.875rem/0 "Montserrat", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.basicButton:hover {
  border: 0.125rem solid #333;
  background-color: transparent;
  color: #333;
  text-decoration: none;
}

.basicButtonLarge {
  display: inline-block;
  padding: 1.375rem 2.625rem 1.375rem 2.625rem;
  border: 0.125rem solid #ffbd50;
  border-radius: 2rem;
  background-color: #ffbd50;
  color: #333;
  font: 600 0.875rem/0 "Montserrat", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.basicButtonLarge:hover {
  border: 0.125rem solid #333;
  background-color: transparent;
  color: #333;
  text-decoration: none;
}

.basicButtonBook {
  display: inline-block;
  padding: 1.375rem 2.625rem 1.375rem 2.625rem;
  border: 0.125rem solid #333;
  border-radius: 2rem;
  background-color: transparent;
  color: #333;
  font: 600 0.875rem/0 "Montserrat", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}

.basicButtonBook:hover {
  border: 0.125rem solid #ffbd50;
  background-color: #ffbd50;
  color: #333;
  text-decoration: none;
}

.form {
  position: relative;
  margin-bottom: 1.25rem;
}

.formLabel {
  position: absolute;
  top: 0.87rem;
  left: 1.375rem;
  color: #555;
  opacity: 1;
  font: 400 0.875rem/1.375rem "Montserrat", sans-serif;
  cursor: text;
  transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .formLabel {
    top: 0.9375rem;
  }
}

.inputForm:focus + .formLabel,
.inputForm.notEmpty + .formLabel,
.formTextArea:focus + .formLabel,
.formTextArea.notEmpty + .formLabel {
  top: 0.125rem;
  opacity: 1;
  font-size: 0.75rem;
  font-weight: 700;
}

.inputForm {
  display: block;
  width: 100%;
  padding-top: 1.0625rem;
  padding-bottom: 0.0625rem;
  padding-left: 1.3125rem;
  border: 1px solid #c4d8dc;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #555;
  font: 400 0.875rem/1.875rem "Montserrat", sans-serif;
  transition: all 0.2s;
  -webkit-appearance: none;
}
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .inputForm {
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    line-height: 1.75rem;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-position: 96% 50%;
  background-repeat: no-repeat;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.formTextArea {
  display: block;
  width: 100%;
  height: 8rem;
  padding-top: 1.25rem;
  padding-left: 1.3125rem;
  border: 1px solid #c4d8dc;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #555;
  font: 400 0.875rem/1.75rem "Montserrat", sans-serif;
  transition: all 0.2s;
}

.inputForm:focus,
.formTextArea:focus {
  border: 1px solid #a1a1a1;
  outline: none;
}

.inputForm:hover,
.formTextArea:hover {
  border: 1px solid #a1a1a1;
}

.checkbox {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

input[type="checkbox"] {
  vertical-align: -15%;
  margin-right: 0.375rem;
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  input[type="checkbox"] {
    vertical-align: -9%;
  }
}

.fromSubmit {
  display: inline-block;
  width: 100%;
  height: 3.125rem;
  border: 0.125rem solid #ffbd50;
  border-radius: 1.5rem;
  background-color: #ffbd50;
  color: #333;
  font: 600 0.875rem/0 "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 0.2s;
}

.fromSubmit:hover {
  border: 0.125rem solid #333;
  background-color: transparent;
  color: #333;
}

#messageGeneral.h3.text-center.tada.animated,
#messageSubmit.h3.text-center.tada.animated,
#normalmsg.h3.text-center.tada.animated,
.h3.text-center.tada.animated,
#messageGeneral.h3.text-center,
#messageSubmit.h3.text-center,
#normalmsg.h3.text-center,
.h3.text-center {
  display: block;
  margin-bottom: 0;
  color: #333;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1rem;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.6s;
  animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 0.8s;
  animation: fadeOut 0.8s;
}
.spinner-wrapper {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fbf9f5;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3.75rem;
  height: 1.25rem;
  margin: -0.625rem 0 0 -1.875rem;
  text-align: center;
}

.spinner > div {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #ffbd50;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .one {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .two {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.navbar-custom {
  background-color: #fff;
  box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.04);
  font: 600 0.875rem/0.875rem "Montserrat", sans-serif;
  transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-image img {
  width: 5.5625rem;
  height: 1.875rem;
}

.navbar-custom .navbar-brand.logo-text {
  font: italic 600 2rem/1.5rem "Montserrat", sans-serif;
  color: #ffbd50;
  text-decoration: none;
}

.navbar-custom .navbar-nav {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
  padding: 0.625rem 0.75rem;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
  color: #ffbd50;
}

.navbar-custom .dropdown:hover > {
  display: block;
  min-width: auto;
  animation: fadeDropdown 0.2s;
}

@keyframes fadeDropdown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.navbar-custom .dropdown-toggle:focus {
  outline: 0;
}

.navbar-custom {
  margin-top: 0;
  border: none;
  border-radius: 0.25rem;
  background-color: #fff;
}

.navbar-custom {
  color: #333;
  text-decoration: none;
}

.navbar-custom {
  background-color: #fff;
}

.navbar-custom .item-text {
  font: 600 0.875rem/0.875rem "Montserrat", sans-serif;
}

.navbar-custom .item-text {
  color: #ffbd50;
}

.navbar-custom {
  width: 100%;
  height: 1px;
  margin: 0.75rem auto 0.725rem auto;
  border: none;
  background-color: #c4d8dc;
  opacity: 0.2;
}

.navbar-custom {
  display: none;
}

.navbar-custom .navbar-toggler {
  padding: 0;
  border: none;
  color: #333;
  font-size: 2rem;
}

.navbar-custom
  button[aria-expanded="false"]
  .navbar-toggler-awesome.fas.fa-times {
  display: none;
}

.navbar-custom
  button[aria-expanded="false"]
  .navbar-toggler-awesome.fas.fa-bars {
  display: inline-block;
}

.navbar-custom
  button[aria-expanded="true"]
  .navbar-toggler-awesome.fas.fa-bars {
  display: none;
}

.navbar-custom
  button[aria-expanded="true"]
  .navbar-toggler-awesome.fas.fa-times {
  display: inline-block;
  margin-right: 0.125rem;
}

.header {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 40%;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/header-background.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
}

.header h1 {
  margin-bottom: 0.75rem;
  color: #eee;
}

.header .p-large {
  margin-bottom: 1.75rem;
  color: #ddd;
}

.header .basicButtonLarge {
  margin-right: 0.5rem;
  margin-bottom: 1.125rem;
  margin-left: 0.5rem;
}

.header .basicButtonLarge:hover {
  border: 0.125rem solid #ffbd50;
  color: #ffbd50;
}

.header .basicButtonBook {
  border: 0.125rem solid #fff;
  color: #fff;
}

.header .basicButtonBook:hover {
  background-color: #fff;
  color: #333;
}

.header .otherCont {
  position: absolute;
  right: 0;
  bottom: -2rem;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.header .slidermain {
  position: relative;
}

.header .swiper-container {
  position: static;
  width: 80%;
  border-radius: 0.75rem;
}

.header .swiper-container img {
  border-radius: 0.75rem;
}

.header .swiper-button-prev:focus,
.header .swiper-button-next:focus {
  outline: none;
}

.header .swiper-button-prev {
  left: 0.25rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  background-size: 1.125rem 1.75rem;
}

.header .swiper-button-next {
  right: 0.25rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  background-size: 1.125rem 1.75rem;
}

.formTwo {
  padding-top: 6rem;
  padding-bottom: 6.25rem;
  background-color: #ffbd50;
}

.formTwo h2 {
  margin-bottom: 1.25rem;
}

.formTwo p,
.formTwo .list-unstyled,
.formTwo .help-block,
.formTwo .checkbox,
.formTwo .checkbox a {
  color: #333;
}

.formTwo p {
  margin-bottom: 1.5rem;
}

.formTwo .list-unstyled .fas {
  color: #333;
  font-size: 0.5rem;
  line-height: 1.5rem;
}

.formTwo .list-unstyled .formBody {
  margin-left: 0.625rem;
}

.formTwo .inputForm {
  border: 1px solid #ffedd0;
  background-color: #ffedd0;
}

.formTwo .inputForm:hover {
  border: 1px solid #fff;
}

.formTwo .fromSubmit {
  border: 0.125rem solid #333;
  background-color: transparent;
}

.formTwo .fromSubmit:hover {
  border: 0.125rem solid #ffedd0;
  background-color: #ffedd0;
}

.slider-1 {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  background-color: #fbf9f5;
  text-align: center;
}

.slider-1 .p-small {
  color: #797fa7;
}

.slider-1 .slidermain {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.section1 {
  padding-top: 3.75rem;
  padding-bottom: 3.5rem;
  background-color: #fbf9f5;
}

.section1 h2 {
  margin-bottom: 1.25rem;
}

.section1 img {
  margin-bottom: 2.5rem;
  border-radius: 0.25rem;
}

.sectionTwo {
  padding-top: 3.5rem;
  padding-bottom: 2.75rem;
  background-color: #fbf9f5;
}

.sectionTwo h2 {
  margin-bottom: 3.75rem;
  text-align: center;
}

.sectionTwo .spacesMain li {
  margin-bottom: 1.375rem;
}

.sectionTwo .list-unstyled .bullet {
  margin-right: 0.625rem;
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  background-color: #ffbd50;
  color: #333;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 2rem;
  text-align: center;
}

.sectionThree {
  padding-top: 2.75rem;
  padding-bottom: 4rem;
  background-color: #fbf9f5;
}

.sectionThree .textHolders {
  margin-bottom: 3.5rem;
}

.sectionThree h2 {
  margin-bottom: 1.25rem;
}

.sectionThree p {
  margin-bottom: 1.375rem;
}

.sectionThree img {
  border-radius: 0.25rem;
}

.cards {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #fbf9f5;
}

.cards h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.cards p {
  text-align: center;
}

.cards .card {
  max-width: 21rem;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-left: auto;
  padding: 3rem 1.625rem 1.75rem 1.625rem;
  border: none;
  background-color: #fff;
  text-align: center;
}

.cards .card-image {
  width: 6rem;
  height: 6rem;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
  border-radius: 50%;
  background-color: #fbf9f5;
}

.cards .fas,
.cards .far {
  color: #ffbd50;
  font-size: 3rem;
  line-height: 6rem;
}

.cards .card-body {
  padding: 0;
}

.cards .card-title {
  margin-bottom: 0.5rem;
}

.slider-2 {
  padding-top: 2.5rem;
  padding-bottom: 4rem;
  background-color: #fbf9f5;
}

.slider-2 h3 {
  margin-bottom: 3.75rem;
  text-align: center;
}

.slider-2 .slidermain {
  position: relative;
}
.slider-2 .swiper-container {
  position: static;
  width: 88%;
  text-align: center;
}

.slider-2 .image-wrapper {
  width: 6rem;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
}

.slider-2 .image-wrapper img {
  border-radius: 0.25rem;
}

.slider-2 .testionialText {
  margin-bottom: 0.5rem;
}

.slider-2 .testimonialMainPersonName {
  color: #333;
}

.slider-2 .swiper-button-prev,
.slider-2 .swiper-button-next {
  width: 1.125rem;
}

.slider-2 .swiper-button-prev:focus,
.slider-2 .swiper-button-next:focus {
  outline: none;
}

.slider-2 .swiper-button-prev {
  left: -0.5rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
  background-size: 1.125rem 1.75rem;
}

.slider-2 .swiper-button-next {
  right: -0.5rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
  background-size: 1.125rem 1.75rem;
}

.sectionFour {
  background-color: #fbf9f5;
}

.sectionFour .textHolders {
  padding-top: 6rem;
  padding-bottom: 6.125rem;
  border-radius: 0.75rem;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("https://cdn.pixabay.com/photo/2014/03/12/18/40/children-286239__480.jpg")
      center center no-repeat;
  background-size: cover;
  text-align: center;
}

.sectionFour h2 {
  width: 90%;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  color: #eee;
}

.sectionFour p {
  width: 88%;
  margin-right: auto;
  margin-bottom: 1.75rem;
  margin-left: auto;
  color: #ddd;
}

.sectionFour .basicButtonLarge:hover {
  border: 0.125rem solid #fff;
  color: #fff;
}

.formThree {
  padding-top: 8.125rem;
  padding-bottom: 5.75rem;
  background-color: #fbf9f5;
}

.formThree h3 {
  margin-bottom: 3.25rem;
  text-align: center;
}

.formThree form {
  margin-bottom: 3rem;
}

.formThree .icon-container {
  text-align: center;
}

.formThree .fa-stack {
  width: 2em;
  margin-bottom: 0.75rem;
  margin-right: 0.375rem;
  font-size: 1.5rem;
}

.formThree {
  color: #333;
  transition: all 0.2s ease;
}

.formThree {
  color: #ffbd50;
  transition: all 0.2s ease;
}

.formThree {
  color: #ffbd50;
}

.formThree {
  color: #333;
}

.formFour {
  padding-top: 6.125rem;
  padding-bottom: 5.125rem;
  background-color: #ffbd50;
}

.formFour .textHolders {
  margin-bottom: 3rem;
}

.formFour h2 {
  margin-bottom: 1.125rem;
}

.formFour p {
  color: #333;
  margin-bottom: 2rem;
}

.formFour h3 {
  margin-bottom: 0.875rem;
}

.formFour .list-unstyled,
.formFour .list-unstyled a {
  color: #333;
}

.formFour .list-unstyled .fas {
  color: #333;
  font-size: 1rem;
  line-height: 1.625rem;
}

.formFour .list-unstyled .formBody {
  margin-left: 0.75rem;
}

.formFour .list-unstyled .formBody .fas.fa-globe {
  margin-left: 1.125rem;
  margin-right: 0.75rem;
}

.formFour .inputForm,
.formFour .formTextArea {
  border: 1px solid #ffedd0;
  background-color: #ffedd0;
}

.formFour .inputForm:hover,
.formFour .formTextArea:hover {
  border: 1px solid #fff;
}

.formFour .help-block,
.formFour .checkbox,
.formFour .checkbox a {
  color: #333;
}

.formFour .fromSubmit {
  border: 0.125rem solid #333;
  background-color: transparent;
}

.formFour .fromSubmit:hover {
  border: 0.125rem solid #ffedd0;
  background-color: #ffedd0;
}

.footer {
  padding-top: 4.75rem;
  padding-bottom: 2rem;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  background-size: cover;
}

.footer .footer-col {
  margin-bottom: 2.25rem;
}

.footer h5 {
  margin-bottom: 0.5rem;
}

.footer a {
  text-decoration: none;
}

.footer h5,
.footer p,
.footer a {
  color: #bbb;
}

.footer .list-unstyled .fas {
  color: #bbb;
  font-size: 0.5rem;
  line-height: 1.375rem;
}

.footer .list-unstyled .formBody {
  margin-left: 0.625rem;
}

.footer .fab {
  margin-bottom: 0.75rem;
  margin-right: 1rem;
  color: #ccc;
  font-size: 1.25rem;
  transition: all 0.2s ease;
}

.footer .fab:hover {
  color: #ffbd50;
}

.copyright {
  padding-top: 1.5rem;
  padding-bottom: 0.375rem;
  background-color: #000;
  text-align: center;
}

.copyright .p-small {
  color: #999;
  font-size: 0.75rem;
  line-height: 1.375rem;
}

.copyright a {
  color: #999;
}

a.back-to-top {
  position: fixed;
  z-index: 999;
  right: 0.75rem;
  bottom: 0.75rem;
  display: none;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 1.875rem;
  background: #ffbd50 no-repeat center 47%;
  background-size: 1.125rem 1.125rem;
  text-indent: -9999px;
}

a:hover.back-to-top {
  background-color: #f0a731;
}

.side-header {
  padding-top: 8rem;
  padding-bottom: 5rem;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    center center no-repeat;
  background-size: cover;
  text-align: center;
}

.side-section1 {
  padding-top: 2rem;
  padding-bottom: 0.875rem;
  background-color: #efebe5;
}

.side-section1 .breadcrumbs {
  margin-bottom: 1.125rem;
}

.side-section1 .breadcrumbs .fa {
  margin-right: 0.5rem;
  margin-left: 0.625rem;
  font-size: 0.875rem;
}

.side-sectionTwo {
  padding-top: 4.75rem;
  padding-bottom: 4rem;
  background-color: #fbf9f5;
}

.side-sectionTwo h3 {
  margin-bottom: 1rem;
}

.side-sectionTwo .textHolders {
  margin-bottom: 3.625rem;
}

.side-sectionTwo .textHolders.last {
  margin-bottom: 0;
}

.side-sectionTwo .textHolders.dark {
  padding: 1.625rem 1.5rem 0.75rem 2rem;
  background-color: #efebe5;
}

.side-sectionTwo .image-container-large {
  margin-bottom: 4rem;
}

.side-sectionTwo .image-container-large img {
  border-radius: 0.375rem;
}

.side-sectionTwo img {
  border-radius: 0.375rem;
}

.side-sectionTwo .list-unstyled .fas {
  color: #ffbd50;
  font-size: 0.5rem;
  line-height: 1.5rem;
}

.side-sectionTwo .list-unstyled .formBody {
  margin-left: 0.625rem;
}

.side-sectionTwo .form-container {
  margin-top: 3rem;
}

.side-sectionTwo .basicButton {
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .p-heading {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
  .header {
    padding-top: 9rem;
  }

  .header h1 {
    font-size: 4rem;
    line-height: 4.875rem;
    letter-spacing: -0.3px;
  }

  .header .basicButtonLarge {
    margin-bottom: 0;
    margin-left: 0;
  }

  .header .otherCont {
    bottom: -4rem;
  }

  .header .swiper-button-prev {
    left: 1.5rem;
  }

  .header .swiper-button-next {
    right: 1.5rem;
  }
  .formTwo {
    padding-top: 9rem;
  }
  .sectionThree {
    padding-top: 3.5rem;
    padding-bottom: 4.5rem;
  }

  .sectionThree .textHolders {
    margin-bottom: 0;
  }
  .basic-4 {
    padding-top: 4.5rem;
    padding-bottom: 3.5rem;
  }
  /* end of video */

  /* Takeaways */
  .cards {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
  }

  .cards .card {
    display: inline-block;
    width: 17.75rem;
    max-width: 100%;
    vertical-align: top;
  }

  .cards .card:nth-child(3n + 2) {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .slider-2 {
    padding-bottom: 9rem;
  }

  .slider-2 h3 {
    width: 37.5rem;
    margin-right: auto;
    margin-left: auto;
  }

  .slider-2 .swiper-container {
    width: 92%;
    text-align: left;
  }

  .slider-2 .image-wrapper {
    float: left;
    width: 6rem;
    margin-bottom: 0;
  }

  .slider-2 .text-wrapper {
    max-width: 100%;
    margin-left: 7.375rem;
  }

  .slider-2 .swiper-button-prev {
    left: 0;
  }

  .slider-2 .swiper-button-next {
    right: 0;
  }
  .sectionFour h2 {
    width: 70%;
  }
  .formThree {
    padding-top: 9rem;
  }

  .formThree h3 {
    width: 37.5rem;
    margin-right: auto;
    margin-left: auto;
  }
  .formFour .textHolders {
    margin-bottom: 0;
  }
  .side-header h1 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .side-sectionTwo {
    padding-bottom: 5rem;
  }
}
@media (min-width: 1200px) {
  .header {
    padding-bottom: 31rem;
  }

  .header .otherCont {
    width: 69.375rem;
    bottom: -6rem;
  }

  .header .swiper-container {
    width: 100%;
  }

  .header .swiper-button-prev {
    left: -2.25rem;
  }

  .header .swiper-button-next {
    right: -2.25rem;
  }
  .formTwo {
    padding-top: 12rem;
  }

  .formTwo .textHolders {
    margin-top: 1rem;
    margin-right: 3.5rem;
  }

  .formTwo form {
    margin-left: 1.5rem;
  }
  .section1 .textHolders {
    margin-top: 3.125rem;
    margin-left: 3.5rem;
  }
  .sectionTwo .list-unstyled.first {
    margin-right: 1.625rem;
  }

  .sectionTwo .list-unstyled.second {
    margin-left: 1.625rem;
  }
  .sectionThree .textHolders {
    margin-top: 2.5rem;
    margin-right: 3.5rem;
  }
  .cards .card {
    width: 21rem;
  }

  .cards .card:nth-child(3n + 2) {
    margin-right: 2.875rem;
    margin-left: 2.875rem;
  }
  .slider-2 .swiper-container {
    width: 90%;
  }

  .slider-2 .text-wrapper {
    margin-top: 0;
  }
  .sectionFour h2 {
    width: 50%;
  }

  .sectionFour p {
    width: 74%;
  }
  .formFour .textHolders {
    margin-top: 2.25rem;
    margin-right: 3.5rem;
  }
  .footer .footer-col.first {
    margin-right: 1.5rem;
  }

  .footer .footer-col.second {
    margin-left: 3rem;
  }

  .footer .footer-col.third {
    margin-left: 2.75rem;
  }

  .footer .footer-col.fourth {
    margin-left: 1.5rem;
  }
  .side-header h1 {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }

  .side-sectionTwo .form-container {
    margin-left: 1.75rem;
  }

  .side-sectionTwo {
    margin-left: 1.75rem;
  }
}

.courses-container {
  width: 100%;
}

.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  width: 80%;
}

.course h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.course-preview {
  background-color: #ffbd50;
  color: #fff;
  padding: 30px;
}
.course-preview h2 {
  color: #fff;
}

.course-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.course-info {
  padding: 30px;
  position: relative;
  width: 100%;
}

.progress-container {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;
}

.progress {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.progress::after {
  border-radius: 3px;
  background-color: #ffbd50;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 66%;
}

.progress-text {
  font-size: 10px;
  opacity: 0.6;
  letter-spacing: 1px;
}

.btn {
  background-color: #ffbd50;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
}

.cardBottom-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.cardBottom-container.visible {
  transform: translateX(-10px);
}

.cardBottom {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
  border: 5px solid #001f61;
  display: flex;
  flside-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Muli";
  position: relative;
  height: 169px;
  width: 370px;
  max-width: calc(100% - 10px);
}

.cardBottom button.close-btn {
  border: 0;
  color: #97a5ce;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.cardBottom button.close-btn:focus {
  outline: none;
}

.cardBottom p {
  background-color: #001f61;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 17px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  text-align: center;
  width: 235px;
}

.cardBottom p i {
  margin: 0 5px;
}

.cardBottom p a {
  color: #ff7500;
  text-decoration: none;
}

.cardBottom h4 {
  margin: 20px 0;
  color: #97a5ce;
  font-family: "Muli";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.cardBottom ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cardBottom ul li {
  margin: 0 10px;
}

.cardBottom ul li a {
  border: 1px solid #dce1f2;
  border-radius: 50%;
  color: #001f61;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.cardBottom ul li a:hover {
  border-color: #ff6a00;
  box-shadow: 0 9px 12px -9px #ff6a00;
}

.basicButton {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.basicButton:hover {
  background-color: #ffffff;
  color: #001f61;
}

.basicButton:focus {
  outline: none;
}

.floating-text {
  background-color: #001f61;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: "Muli";
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 998;
}

.floating-text a {
  color: #ff7500;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .cardBottom-container.visible {
    transform: translateX(0px);
  }

  .basicButton {
    right: 10px;
  }
}
